<%- include('partials/header') %>

  <section class="contact">
    <h2>Contact Us</h2>
    <div class="box">
      <input type="text" placeholder="Enter your email" /><br />
      <textarea placeholder="Enter your message"></textarea> <br />
      <a href="#" class="btn">Send</a>
    </div>
  </section>

  <%- include('partials/footer') %>